:root{

    --bg1: #5f074f;
    --bg2: rgb(44, 42, 42);
    --body: rgb(95, 86, 86);
    --brand: #f5f2f5;
    --white: rgb(235, 235, 235);
    --p: rgb(161, 150, 150)
}
#banner{
    min-height: 100vh;
    background: linear-gradient(to right, hsla(0, 7%, 12%, 0.264), rgb(44, 42,42, 0315)), url('https://img.freepik.com/premium-photo/gamer-playing-desktop-pc-computer-gaming-illustration-commercial-photography_950002-31755.jpg?w=826');
    background-size: cover;
}

section{
    padding-top: 100px;
    padding-bottom: 100px;
}
.btn{
    padding: 15px 30px;
    transition: all 0.4s ease;
    font-weight: 800;
    border-radius: 0;
}

.btn-brand:hover{
    background-color: transparent;
    color: rgb(120, 18, 132);
    border-color: #730968;
}
*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.icon-img-box{
    width: 40%;
}

.card{
    transition: background-color 0.3s, 0.3s;
}

.card:hover{
    background-color: #370348;
}

.card:hover .card-title,
.card:hover .card-text,
.card:hover .btn {
    color: #fff;
}

.btn-outlined-brand {
    color: #000000;
    background-color: transparent;
    border-color: #aa00ff;
}

.btn-outlined-brand:hover {
    background-color: #aa00ff;
}

#cta {
    min-height: 100vh;
    background: linear-gradient(to right, hsla(0, 20%, 99%, 0.445), rgb(44, 42,42, 0315)), url('https://img.freepik.com/premium-photo/gamer-playing-desktop-pc-computer-gaming-illustration-commercial-photography_950002-31755.jpg?w=826');
    min-height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
}

.card img {
    filter: drop-shadow(15px 5px 4px #000000);
}

#reviews{
    background-color: var(--white);
}

.testimonials {
    background-color: var(--bg2);
    padding: 30px;
}
 .testimonials img {
    width: 60px;
    border-radius: 50px;
    height: 65px;

 }

 #reviews {
    color: var(--brand);

 }


#faq{
    background-color: #730968;
}
.faq-section {
    max-width: 800px;
    margin: auto;
  }

  .faq-item {
    margin-bottom: 20px; /* Add margin bottom for spacing */
    border-radius: 0 !important;
  }

  .faq-question {
    background-color: #f8f9fa;
    border: none;
    border-bottom: 1px solid #dee2e6;
    border-radius: 0;
    padding: 15px;
    font-size: 18px;
    font-weight: 500;
    color: #343a40;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Add transition for smooth hover effect */
  }

  .faq-answer {
    border-left: 3px solid var(--brand);
    padding: 10px 15px;
    margin-left: 0;
    background-color: #f8f9fa;
  }

  .faq-answer p {
    margin-bottom: 0;
  }

  .accordion-button:focus {
    box-shadow: none;
  }

  .accordion-button:not(.collapsed) {
    color: var(--bg1);
  }

  /* Hover effect for FAQ questions */
  .faq-question:hover {
    background-color: var(--brand); /* Change background color on hover */
    color: var(--bg1); /* Change text color on hover */
  }

  /* Adjust accordion icon */
  .accordion-button::after {
    font-family: "Font Awesome 5 Free";
    content: ""; /* Plus icon */
    float: right;
    font-weight: 900;
    margin-left: auto;
  }

  .accordion-button[aria-expanded="true"]::after {
    content: ""; /* Minus icon */
    
  }

#footer {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: var(--bg1);
}

#footer ul.list-unstyled li a {
    color: #ffffff;
}

#footer ul.list-unstyled li:hover a {
    color: var(--brand) ;
}

#reviews h2, #services h2 {
    color: var(--bg1);
}

.btn-outline-light {
    border-color: #F2B03B !important;
    color: #F2B03B;
}

#footer h5 {
    color: var(--brand);
    margin-bottom: 15px;
}


@media only screen and (max-width: 767px) {
    h1 , h2 {
        font-size: 45px;
        text-align: center;
    }
    #banner p {
        text-align: center;

    }
    .btn {
        font-size: 14px !important;
        padding: 18px 0px;
        width: 180px;
    }
    section {
        padding: 60px 10px;
    }

    #about h3, #about p {
        text-align: center;
    }

   .card {
    margin-bottom: 30px;
   }

   #cta h2 , #cta2 h2{
    font-size: 35px;
   }

   #about:after {
    display: none;
   }

   #footer {
    padding: 50px 20px;
   }

   #about img {
    height: 350px;
    width: 100%;
    background-size: cover;
   }

    
}